[Unit]
Description=voice recognizer
After=network.target ntpdate.service

[Service]
Environment=VIRTUAL_ENV=/home/pi/ButlorVoiceKit/env
Environment=PATH=/home/pi/ButlorVoiceKit/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/pi/ButlorVoiceKit/env/bin/python3 -u src/main.py
WorkingDirectory=/home/pi/ButlorVoiceKit
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
